<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tercyduk.appngasal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/laucherlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Activity.SplashScreen"
            android:label="AppNgasal"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.auth.user.Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.auth.user.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DetailLapangan"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.EditProfile" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Profil" />
        <activity android:name=".Activity.TopUp" />
        <activity android:name=".Activity.Wallet" />
        <activity android:name=".Activity.Booking" />
        <activity android:name=".Activity.DetailTopups" />
        <activity android:name=".Activity.KonfirmasiTopup"></activity>
    </application>

</manifest>